<div class="row parameter-row">
    <div class="col-xs-6 col-md-3 par-name-col">
        {{parameter.displayName}}
    </div>
    <div class="col-xs-5 col-md-8 par-value-col" ng-class="{'has-error': !isParameterValid}">
        <select ng-model="parameter.value" ng-options="option.value as option.name for option in parameter.values" class="form-control" ng-disabled="!parameter.editable || parameter.deactive"></select>
        <div class="error-message" ng-repeat="msg in parameter.message">{{msg}}</div>
    </div>
    <div class="col-xs-1 info-col">
        <div class="info" ng-if="parameter.description!=undefined && parameter.description!=''">i <span>{{parameter.description}}</span></div>
    </div>
</div>
