
.drop-box {
    background: #eee;
    border: 5px dashed #7598B7;
    width: 100%;
    border-radius:5px;
    height: 100px;
    text-align: center;
    padding-top: 40px;
}
.dragover {
    background: #9BBBD8;
    color:white;

}
.upload-name-col{
    margin-top:40px !important;
}

#filedrag
{
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
    width: 100%;
    height: 100px;
	border-radius: 7px;
	cursor: default;
}
.has-error #filedrag{
    border-color:#EF5C00;
}
#filedrag.hover
{
	color: #FF9600;
	border-color: #FF9600;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}
.uploaded-file{
  color:#5C758C;
}
.file-unload{
  color:#E63946;
  cursor:pointer;
}

.file-container.disabled{
  background: #eee;
}
.file-container.disabled *{
  cursor: not-allowed !important;
}
