<div class="container-fluid" id="model-container">
    <div class="row" scroll-spy>
        <div class="col-xs-12 col-md-10 groups">
            <div ng-repeat="group in data.parametersCategories">
                <div class="row group-container">
                    <div class="group-name" id="group{{group.value}}">
                        {{group.name}}
                    </div>
                    <div class="group-parameters col-xs-12">
                        <div ng-repeat="(key, value) in hashToArray(obj.pars)">
                            <integer json-input ng-if="obj.pars[value].parameterCategory==group.value && obj.pars[value].parameterType=='integer'" parameter="obj.pars[value]" dependencies = "dep[value]"></integer>
                            <float json-input ng-if="obj.pars[value].parameterCategory==group.value && obj.pars[value].parameterType=='float'" parameter="obj.pars[value]" dependencies = "dep[value]"></float>
                            <datetime json-input ng-if="obj.pars[value].parameterCategory==group.value && obj.pars[value].parameterType=='datetime'" parameter="obj.pars[value]" dependencies = "dep[value]"></datetime>
                            <json-select json-input ng-if="obj.pars[value].parameterCategory==group.value && obj.pars[value].parameterType=='select'" parameter="obj.pars[value]" dependencies =" dep[value]"></json-select>
                            <json-text json-input ng-if="obj.pars[value].parameterCategory==group.value && obj.pars[value].parameterType=='text'" parameter="obj.pars[value]" dependencies = "dep[value]"></json-text>
                            <domains json-input ng-if="obj.pars[value].parameterCategory==group.value && obj.pars[value].parameterType=='domains'" parameter="obj.pars[value]" dependencies = "dep[value]" validation="true"></domains>
                            <fileupload json-input ng-if="obj.pars[value].parameterCategory==group.value && obj.pars[value].parameterType=='fileupload'" parameter="obj.pars[value]" dependencies = "dep[value]"></fileupload>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-2" style="padding-left:0px">
            <ul id="nav" class="nav hidden-xs hidden-sm" style="margin-top:20px;padding-left:10px; border-left:1px solid #dedede;">
                <li ng-repeat="group in data.parametersCategories">
                    <a spy="group{{group.value}}">{{group.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
