<div class="container-fluid" id="model-container">
    <div class="row">
        <div class="col-xs-12 col-md-10 groups">
            <div ng-repeat="group in data.parametersCategories">
                <div class="row group-container">
                    <div class="group-name" id="group{{group.value}}">
                        {{group.name}}
                    </div>
                    <div class="group-parameters col-xs-12">
                        <div ng-repeat="(key, value) in hashToArray(pars)">
                            <integer json-input ng-if="pars[value].parameterCategory==group.value && pars[value].parameterType=='integer'" parameter="pars[value]" dependencies = "dep[value]"></integer>
                            <float json-input ng-if="pars[value].parameterCategory==group.value && pars[value].parameterType=='float'" parameter="pars[value]" dependencies = "dep[value]"></float>
                            <datetime json-input ng-if="pars[value].parameterCategory==group.value && pars[value].parameterType=='datetime'" parameter="pars[value]" dependencies = "dep[value]"></datetime>
                            <select-parameter json-input ng-if="pars[value].parameterCategory==group.value && pars[value].parameterType=='select'" parameter="pars[value]" dependencies =" dep[value]"></select-parameter>
                            <text-parameter json-input ng-if="pars[value].parameterCategory==group.value && pars[value].parameterType=='text'" parameter="pars[value]" dependencies = "dep[value]"></text-parameter>
                            <domains json-input ng-if="pars[value].parameterCategory==group.value && pars[value].parameterType=='domains'" parameter="pars[value]" dependencies = "dep[value]"></domains>
                            <fileupload json-input ng-if="pars[value].parameterCategory==group.value && pars[value].parameterType=='fileupload'" parameter="pars[value]" dependencies = "dep[value]"></fileupload>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2" id="scrollspy" style="padding-left:0px">
            <ul id="nav" class="nav hidden-xs hidden-sm" style="margin-top:20px;width:100%;padding-left:10px; border-left:1px solid #dedede;">
                <li ng-repeat="group in data.parametersCategories">
                    <a href="#group{{group.value}}">{{group.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
