<div class="row parameter-row">

    <div class="col-xs-12 col-md-6 col-md-offset-3 par-name-col ng-binding">
        <div style="width:100%;height:{{height}}" id="{{parameter.dbName}}map" ng-class="{'map-has-error' : !isParameterValid}"></div>
        <div class="error-message" ng-repeat="msg in parameter.message">{{msg}}</div>
        <div ng-show="parameter.drawDomains" ng-repeat="val in parameter.value.domains track by $index">
            Domain number {{$index+1}} - South-West: ({{val.southWest.lat | number:4}}, {{val.southWest.long | number:4}}) North-East: ({{val.northEast.lat | number:4}}, {{val.northEast.long | number:4}})<br/>
        </div>
        <div ng-show="parameter.drawMarkers" ng-repeat="mark in parameter.value.markers track by $index">
            Marker {{$index+1}}: ({{mark.lat | number:4}}, {{mark.long | number:4}})
        </div>

    </div>
    <div class="modal fade" id="{{parameter.dbName}}modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Delete domain</h4>
                </div>
                <div class="modal-body">
                    <p>Do you want to delete domain number <span id="number"></span><span ng-if="parameter.onlyNested" id="lastDomain"> and all his sub-domains</span>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-success">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
