.parameter-row{
  padding:10px;
}

.par-name-col {
  margin-top:10px;
}
.error-message{
  color:#EF5C00;
  font-size:12px;
}
.success-message{
  font-size: 12px;
  color: #2AB32A;
}
body{
  position: relative;
}

.info-col{
  margin-top: 5px;
}
.info {
  background: #00bcd4;
  color: white;
  border-radius: 50%;
  text-align: center;
  width: 25px;
  height: 25px;
  font-style: italic;
  line-height: 25px;
  font-size: 15px;
  position:relative;
  float: right;
}
.info span{
  width:350px;
  line-height: 16px;
  background: none repeat scroll 0 0 #00BCD4;
  border: 5px solid #00BCD4;
  border-radius:5px;
  color: white;
  font-size: 13px;
  letter-spacing: 0.5px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  left: -162px;
  display: none;
  padding: 5px 10px;
  bottom: 35px;

}
.info span:after{
  content:'';
  position:absolute;
  bottom:-10px;
  width:10px;
  height:10px;
  border-bottom: 5px solid #00BCD4;
border-right: 5px solid #00BCD4;
background: #00BCD4;
  left:50%;
  margin-left:-5px;
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}

.info:hover span{
  display:block;
}
